<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DavidNikdel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="X360Router.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DavidNikdel.Properties.Settings>
            <setting name="InvertMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LookSensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MuteSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwapShiftAndTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LThumbToDPad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CenterOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SwapSticks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRunUseTilde" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StickyBars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssistMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CenterOffsetY" serializeAs="String">
                <value>-0.14</value>
            </setting>
            <setting name="ESCMode" serializeAs="String">
                <value>False</value>
            </setting>
        </DavidNikdel.Properties.Settings>
        <X360Router.Properties.Settings>
            <setting name="LookSensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MuteSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwapShiftAndTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwapSticks" serializeAs="String">
                <value>False</value>
            </setting>
        </X360Router.Properties.Settings>
    </userSettings>
</configuration>